body{
    margin: 0;
}
.container{
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.textarea{
    resize: none;
    width: 100%;
    box-sizing: border-box;
}
.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}